@import "../basic";

.footer {
    max-width: 768px;
    width: 100%;
    margin: 0 auto;

    .flex-content {
        display: flex;

        & > * {
            flex-grow: 1;
            margin: 0 auto;
            display: inline-block;
            list-style: none;
            padding: 24px;
        }

        li {
            font: 14px/2 $fontFamily;
        }

        & > p {
            font-size: 24px;
        }
    }

    .bottom {
        padding: 24px;

        * {
            text-decoration: none;
            color: var(--textColor);
            font: 12px/2 $fontFamily;
            flex-grow: 1;
            display: block;
        }
    }

}

@media screen and (min-width: 640px) {
    .footer {
        .bottom, .flex-content {
            display: flex;
        }
    }
}
