@import "../basic";

.footer {
    background: #f0f0f0;
    margin-top: 32px;

    .container {
        max-width: 768px;
        width: calc(100% - 96px);
        margin: 0 auto;

        & .flex-content p {
            display: none;
        }

        p {
            font-size: 24px;
        }
    }

    .flex-content {
        display: flex;

        & > * {
            flex-grow: 1;
            margin: 0 auto;
            list-style: none;
            padding: 24px 0;
        }

        li {
            font: 14px/2 $fontFamily;

            a {
                color: var(--color-auto-gray-6);
                text-decoration: none;

                &:hover, &:focus {
                    text-decoration: underline;
                }
            }

            &.title {
                font-size: 15px;

                &:not(:first-child) {
                    margin-top: 12px;
                }
            }
        }
    }

    .bottom {
        padding: 24px 0;

        * {
            text-decoration: none;
            color: var(--textColor);
            font: 12px/2 $fontFamily;
            flex-grow: 1;
            display: block;
        }
    }

}

@media screen and (min-width: 640px) {
    .footer {
        .bottom {
            padding: 24px;
        }

        .bottom, .flex-content {
            display: flex;
        }

        .flex-content {
            & > * {
                padding: 24px;
            }

            p {
                display: inherit!important;
            }
        }

        .container > p {
            display: none;
        }
    }
}
