@import "../basic";

.header {
    padding: 24px;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    z-index: 1;
    top: 0;

    .archive, .about {
        display: none;
    }

    .title, .archive, .about {
        color: var(--color-text-primary);
        font: 16px/1 "SF Compact", sans-serif;
        cursor: pointer;
        text-decoration: none;
        padding-right: 8px;
    }

    .github, .bilibili, .zhihu, .juejin, .mode {
        display: none;
        float: right;
    }
}

@media screen and (min-width: 768px) {
    .header {
        .github, .bilibili, .zhihu, .juejin, .mode, .archive, .about {
            display: inline-block;
        }
    }
}

html.lightHeaderBar:not([scroll]) .header {
    .mode::before {
        background: url($whiteDarkMode) 0 0/100% no-repeat;
    }

    .title, .archive, .about {
        color: var(--color-scale-white)
    }
}

html[dark] .header .mode::before {
    background: url($whiteLightMode) 0 0/100% no-repeat;
}

html[dark] .header, html.lightHeaderBar:not([scroll][light]) .header {
    .title, .archive, .about {
        color: #fff;
    }

    .github::before {
        background: url($whiteGitHub) 2px 2px/20px no-repeat;
    }

    .bilibili::before {
        background: url($whiteBiliBili) 0 0/100% no-repeat;
    }

    .zhihu::before {
        background: url($whiteZhihu) 0 0/100% no-repeat;
    }

    .juejin::before {
        background: url($whiteJuejin) 2px 4px/20px no-repeat;
    }
}

html[scroll]:not([dark]) {
    .mode::before {
        background: url($blackDarkMode) 0 0/100% no-repeat;
    }
}

html:not(.lightHeaderBar):not([scroll][light]) .header {
    background: var(--color-auto-gray-1);
}

html[scroll] .header {
    background: #ffffffdd;
}

html[scroll][dark] .header {
    background: #00000088;
}
