@import "components/header";
@import "components/footer";
@import "basic";
@import "markdown/index";

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    background: var(--background);
    color: var(--textColor);
    font-family: $fontFamily;
}

.container {
    padding: 24px 48px;
    margin-top: 64px;
}
