@charset "UTF-8";

@font-face {
    font-family: Anodina;
    src: url("../font/Anodina-Regular.otf");
}

@font-face {
    font-family: Anodina;
    font-weight: 600;
    src: url("../font/Anodina-Bold.otf");
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url("../font/MaterialIcons-Regular.woff2") format('woff2')
}

.mi {
    font-family: 'Material Icons', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 24px; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}

* {
    transition: 250ms ease-in-out;
}

:root {
    --grey: #888;
    --black: #000;
    --white: #fff;
    --light: #ddd;
    --dark: #222;
    --theme: #009688;
}

html, body, #pg-app {
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

p {
    font: 400 16px/28px Anodina, sans-serif;
    color: var(--dark);
}

#pg-app {
    display: block;
    overflow-y: scroll;
    font-size: 0;
    margin-top: 44px;
    height: calc(100% - 44px);
}

.leftpane {
    width: 25%;
    display: inline-block;
    vertical-align: top;
    background: var(--white);
}

#selectors {
    width: calc(100% - 20px);
    margin: 0 10px;
}

.rightpane {
    width: 75%;
    display: inline-block;
    vertical-align: top;
}

h3.articleListTitle {
    font: 600 20px/2 Anodina, sans-serif;
    margin-bottom: 0;
}

h3.articleListTitle small {
    font: 300 14px/2 Anodina, sans-serif;
    color: var(--grey);
}

small.timeString {
    font: 200 12px/1 Anodina, sans-serif;
}

.pg-content-articleListContent {
    display: block;
    width: calc(100% - 30px);
    padding: 10px;
    margin: 0 auto;
    border-bottom: 1px solid var(--light);
}

.pg-content-articleListContent p {
    font: 16px/1.5 Anodina, sans-serif;
}

.pg-content-articleListContent img {
    width: 100%;
}

/* post */
.pg-img-headbanner, .pg-img-contentImage {
    max-width: 75%;
    display: block;
    margin: 0 auto;
}

.pg-post-metainfo {
    margin-top: 0;
    font: 13px/1 Anodina, sans-serif;
    color: var(--grey);
}

.pg-title-header {
    margin-bottom: 5px;
    font: 800 28px/42px Anodina, sans-serif;
}

.pg-content-subtitle {
    font: 800 18px/1 Anodina, sans-serif;
}

/* Plugin - Expand */
.pg-app-plugin-expand-selector {
    padding: 10px;
    display: inline-block;
    border-bottom: 3px solid var(--dark);
    margin-right: 10px;
    font: 16px/1 Anodina, sans-serif;
}

.pg-app-plugin-expand-selector.active {
    border-color: var(--theme)
}

.pg-app-plugin-expand-content.active {
    display: block;
    opacity: 1;
}

.pg-app-plugin-expand-content {
    display: none;
    opacity: 0;
}

.pg-app-plugin-expand {
    padding: 20px 0;
}

a, a:link, a:active, a:visited {
    color: var(--theme);
}

span.selectorName {
    font: 18px/2 Anodina, sans-serif;
    color: var(--theme);
}

.pg-selector-child {
    padding-left: 10px;
    font: 14px/1.5 Anodina, sans-serif;
    margin: 5px 0;
    color: var(--grey);
}

#pg-topSelector {
    color: var(--dark);
    display: block;
    font: 16px/1 Anodina, sans-serif;
    margin: 14px 0;
}

#pg-topSelector span {
    vertical-align: middle;
}

.topBar {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
}

.topBar span.mi {
    margin: 10px;
    vertical-align: middle;
}

.topBar > :nth-child(2) {
    font: 16px/1 Anodina, sans-serif;
    vertical-align: middle;
}

#pg-topSelector :nth-child(2) {
    margin-left: 10px;
}

@media (max-width: 1280px) {
    .leftpane:not(.active) {
        left: -200%;
    }

    .leftpane {
        position: fixed;
        left: 0;
        top: 0;
        width: 200px;
        z-index: 1001;
        height: 100%;
        transition: 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
    }

    .rightpane {
        margin: 0 auto;
        display: block;
    }

    .pg-content-articleListContent {
        width: calc(100% - 20px);
        margin: 0;
    }
}

@media (min-width: 1280px) {
    #pg-app {
        width: 1280px;
        margin: 0 auto;
    }

    .pg-img-headbanner, .pg-img-contentImage {
        max-width: 50%;
        display: block;
        margin: 0 auto;
    }

    .topBar {
        display: none;
    }

    #pg-app {
        margin-top: 0;
        height: 100%;
    }

    #pg-topSelector span.mi {
        display: none;
    }

    #pg-topSelector :nth-child(2) {
        margin-left: 0;
    }
}